<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/shared_head' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/custom.css" rel="stylesheet">
  <!-- Temporarily include styles pending chore: https://www.pivotaltracker.com/story/show/70661346 -->
  <link href="/stylesheets/workshop.css" rel="stylesheet">
  <%= javascript_include_tag "codealia-ide/angular-app", 'data-turbolink-track' => true %>
  <%= stylesheet_link_tag "codealia-ide", 'data-turbolink-track' => true %>
</head>
<body ng-app="Codealia">

<div cdl-container>
  <%= yield %>
  <div cdl-passions-editor></div>
</div>

</body>
</html>
